Package: com.yourcompany.08instagram
Name: 08Instagram
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: 于传峰
Author: 于传峰
Section: Tweaks
Version: 0.0.1-47+debug
Installed-Size: 1300
